@model BeneficiarioEntity

<h1>Beneficiário</h1>

<div class="row">
    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    <dd>    
    <dt>
        @Html.DisplayFor(model => model.Nome)
    <dd>    
    <dt>
        @Html.DisplayNameFor(model => model.Cpf)
    <dd>    
    <dt>
        @Html.DisplayFor(model => model.Cpf)
    <dd>
</div>